* {
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

header {
	background-color: #2c3e50;
	height: 165px;
}

header a {
	color: #2980b9;
	height: 165px;
	text-decoration: none;
}

header a button {
	position: fixed;
	bottom: 40px;
	right: 20px;
	border: none;
	background: transparent;
	font-size: 350%;
	color: #2d5c7f;
	cursor: pointer;
}

#logo {
	display: flex;
	align-items: center;
	line-height: 7em;
	margin-left: 120px;
}

#slogan {
	flex: 1;
	text-align: center;
}

#social i {
	font-size: 30px;
	margin-right: 10px;
	line-height: 45px;
	display: block;
}

h1 {
	color: #2980b9;
	font-size: 45px;
	margin-left: -300px;
	font-family: "Anton", sans-serif;
	font-weight: 800;
}

.h3 {
	color: #566575;
	text-shadow: 1px 1px 1px;
	font-weight: 10;
	margin-left: -360px;
	padding-top: 25px;
}

.h4 {
	margin-left: -350px;
	font-weight: 10;
	text-shadow: 1px 1px 1px #a6d6c3;
	padding-top: 60px;
}

.p11 {
	background-color: #ffffff;
	color: #000000;
	opacity: 0.5;
	width: 800px;
	height: 80px;
	margin-left: -295px;
	border-radius: 15px;
	margin-top: 150px;
	text-align: center;
	align-items: center;
}

.images2 {
	font-size: 30px;
	margin-left: 15px;
	color: #2c3e50;
	padding-top: 25px;
	padding-bottom: 40px;
}

.imageFond {
	background-image: url("/img/fond.jpg");
	background-size: cover;
	padding-bottom: 500px;
	height: 50px;
}

.main2 {
	justify-content: center;
	width: 1020px;
	background-color: #dcdfe3;
	margin-left: 250px;
	margin: auto;
}

figcaption {
	background-color: #484848;
	margin-top: -5px;
	color: white;
	margin-bottom: 100px;
	font-size: 14px;
	width: 250px;
	font-style: italic;
	line-height: 30px;
	text-align: center;
	align-items: center;
}

.ancreNav {
	background: #2980b9;
	height: 70px;
	border-bottom: 8px solid #6acafc;
	text-align: center;
	padding: 15px;
}

.ancreNav .unactiv {
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0px;
	border: 2px solid white;
	background: #6acafc;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-family: oswald;
	font-weight: 800;
}

.unactiv:hover {
	background-color: #2c3e50;
	transition: 0.5s;
}

.activ {
	margin: 10px;
	padding: 2px 10px;
	border-radius: 10px 0px;
	border: 2px solid white;
	background: #2c3e50;
	color: #fff;
	text-decoration: none;
	font-size: 20px;
	font-family: oswald;
	transition: 0.5s;
	font-weight: 800;
}

.h5 {
	padding-bottom: 50px;
	font-weight: 10;
	text-shadow: 1px 1px 1px #a6d6c3;
	text-align: center;
}

.rotationImg {
	display: flex;
	padding-left: 85px;
	column-gap: 75px;
	padding-bottom: 40px;
}

.image {
	width: 250px;
	height: 180px;
	border: solid 5px white;
	box-shadow: 5px 5px 23px 6px #646464;
}

.image2:hover {
	transform: rotate(15deg);
	transition: 5.5s;
	border: solid 10px white;
}

.image3:hover {
	transform: rotate(-15deg);
	transition: 5.5s;
	border: solid 10px white;
}

.rotation360 {
	display: block;
	margin-top: 220px;
	margin-left: -320px;
	align-items: center;
	width: 250px;
	height: 180px;
	border: solid 5px white;
	box-shadow: 5px 5px 23px 6px #646464;
}

.rotation360:hover {
	transform: rotate(360deg);
	transition: 1.5s;
}

.centre {
	width: 500px;
	height: 200px;
	background-color: #33cccc;
	margin: auto;
}

.h12 {
	color: #2c3e50;
	font-size: 35px;
	padding-left: 20px;
	padding-top: 20px;
	text-shadow: 1px 1px 2px #aaa;
	padding-bottom: 15px;
}

.h13 {
	margin-top: 50px;
	padding-left: 15px;
	color: #2c3e50;
	font-size: 22px;
	font-weight: 200;
	text-shadow: 1px 1px 2px #aaa;
	padding-bottom: 25px;
}

.relative {
	width: 500px;
	height: 500px;
	background-color: #2d5c7f;
	margin: 0 auto;
	position: relative;
}

.relative div:first-child {
	width: 50px;
	height: 50px;
	background-color: #fff1a8;
	position: absolute;
	top: 0%;
	left: 90%;
}

.zone {
	background-color: #3a4750;
	width: 100%;
	height: 60px;
}

.zone2 {
	background-color: #2d5c7f;
	width: 25%;
	height: 180px;
	float: inline-start;
}

.zone3 {
	background-color: #fff1a8;
	width: 25%;
	height: 180px;
	float: inline-start;
}

.zone4 {
	background-color: #ff8f56;
	width: 25%;
	height: 180px;
	float: inline-start;
}

.zone .clear {
	background-color: #984a59;
	width: 25%;
	height: 180px;
	float: inline-start;
}

.page-transition {
	position: relative;
	animation: fadeIn 0.5s ease;
}

@keyframes fadeIn {
	from {
		opacity: 0.8;
		transform: translateY(2px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.absolute {
	width: 100px;
	height: 100px;
	background-color: #ffc353;
	position: absolute;
	top: 200px;
	right: 1650px;
}

.trente {
	color: #f6e1b5;
	background-color: #3c1b1f;
	width: 30%;
	height: 60px;
	line-height: 60px;
	font-weight: 900;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cinquante {
	color: #f6e1b5;
	background-color: #b21e4b;
	width: 50%;
	line-height: 60px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-weight: 900;
}

.cent {
	color: #b21e4b;
	background-color: #e2bf81;
	width: 100%;
	line-height: 60px;
	font-weight: 900;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.float {
	background-color: #f8d771;
	float: left;
	width: 150px;
	height: 150px;
	margin-left: 20px;
	margin-right: 12px;
	margin-bottom: 20px;
	border: 2px solid #ff0000;
	text-align: center;
}

.clear {
	clear: both;
}

.tableau table {
	border-collapse: collapse;
	border: 2px solid #6495ed;
	font-weight: bold;
	margin: auto;
	width: 80%;
}
.tableau thead,
.tableau tfoot {
	background: #d0e3fa;
	border: 1px solid #6495ed;
}
.tableau tbody {
	border: 1px solid #6495ed;
}
.tableau th {
	border: 1px solid #6495ed;
	padding: 5px;
	width: 20%;
}
.tableau td {
	border: 1px solid #6495ed;
	font-size: 80%;
	padding: 5px;
	text-align: center;
}

@keyframes clignotte {
	0%,
	50%,
	100% {
		opacity: 1;
	}

	25%,
	75% {
		opacity: 0;
	}
}

a.unactiv {
}

a.unactiv:hover {
	animation: clignotte 5s infinite;
}

#main {
	background-color: #a6d6c3;
	width: 1100px;
	height: 250px;
}

#main2 {
	background-color: #dcdfe3;
	width: 1100px;
	height: 80px;
}

.main3 {
	justify-content: center;
	width: 800px;
	background-color: #dcdfe3;
	margin-left: 250px;
	margin: auto;
	padding-bottom: 20px;
}

#zoning1 header {
	width: 80%;
	background-color: #f7f39a;
	height: 60px;
	float: center;
	margin-left: 80px;
	text-align: center;
	text-shadow: 1px 1px grey;
}

#zoning1 aside {
	width: 20%;
	background-color: #a3de83;
	height: 400px;
	clear: both;
	float: left;
	margin-left: 80px;
	text-align: center;
	text-shadow: 1px 1px grey;
}

#zoning1 section {
	width: 60%;
	background-color: #38817a;
	height: 400px;
	float: left;
	margin-left: 0px;
	text-align: center;
	text-shadow: 2px 2px grey;
}

#zoning2 header {
	width: 68%;
	background-color: #f8f5e4;
	height: 60px;
	float: center;
	margin-left: 130px;
	text-align: center;
	text-shadow: 1px 1px grey;
}

#zoning2 .aside {
	width: 11%;
	background-color: #10828c;
	height: 400px;
	float: left;
	margin-left: 130px;
	text-align: center;
	text-shadow: 1px 1px grey;
	color: white;
}

#zoning2 .aside2 {
	width: 11%;
	background-color: #10828c;
	height: 400px;
	float: left;
	margin-left: 0px;
	text-align: center;
	text-shadow: 1px 1px grey;
	color: white;
}

#zoning2 section {
	width: 46%;
	background-color: #0e3047;
	height: 400px;
	float: left;
	text-align: center;
	text-shadow: 2px 2px grey;
	color: white;
}

#zoning3 .gauche {
	width: 40%;
	background-color: #205d67;
	height: 500px;
	margin-left: 80px;
	float: left;
	text-align: center;
	text-shadow: 1px 1px grey;
	color: white;
}

#zoning3 .gauche p {
	padding: 0px;
}

#zoning3 .droite p {
	padding: 0px;
}

#zoning3 .droite {
	width: 40%;
	background-color: #639a67;
	height: 200px;
	float: left;
	text-align: center;
	text-shadow: 1px 1px grey;
	color: white;
	height: 500px;
}

#zoning3 footer {
	width: 80%;
	background-color: #d8ebb5;
	float: left;
	line-height: 10x;
	margin-left: 80px;
	text-align: right;
	text-shadow: 1px 1px grey;
}

#zoning3 footer p {
	padding: 0px;
	margin: 0px;
	line-height: 20px;
}

#zoning3 section {
	width: 60%;
	background-color: #38817a;
	height: 400px;
	margin-left: 0px;
	text-align: center;
	text-shadow: 2px 2px grey;
}

#zoning4 {
	background-color: white;
	border: solid 2px;
	margin-left: 80px;
	padding-left: 80px;
	padding-right: 80px;
	width: 80%;
	text-align: center;
}

#zoning4 header {
	width: 636px;
	height: 100px;
	margin-left: -80px;
	padding-left: 80px;
	padding-right: 80px;
	background-color: #d8dfe2;
}

#zoning4 header p {
}

#zoning4 section {
	margin-top: 20px;
	background-color: #176d81;
	color: white;
	margin-bottom: 20px;
	margin-left: -62px;
	height: 400px;
	width: 600px;
}

#zoning4 nav {
	height: 50px;
	background-color: #71adb5;
	border-bottom: 0.4rem solid #6acafc;
	margin-left: -80px;
	width: 636px;
}

#zoning4 footer {
	margin-left: -80px;
	padding-left: 80px;
	padding-right: 80px;
	width: 133.7%;
	background-color: #0d3446;
}

#zoning4 footer p {
	text-shadow: 1px 1px 1px white;
}

#zoning5 {
	border: solid 2px;
	background-color: #ffa500;
}

#zoning5 header {
	background-color: #f8d771;
	color: white;
	text-align: center;
	height: 100px;
}

#zoning5 nav {
	background-color: #d6bc6b;
	color: white;
	text-align: center;
	border-bottom: 0.4rem solid #c19718;
}

#zoning5 section {
	padding-top: 20px;
	font-weight: 1000;
	text-align: center;
	text-shadow: 0.5px 0.5px 0.5px rgba(255, 255, 255, 0.644);
}

.z1 {
	background-color: #d6bc6b;
	margin-left: 20px;
	width: 378px;
	height: 246px;
	float: left;
}

.z2 {
	background-color: #fce38a;
	margin-left: 398px;
	width: 378px;
	height: 246px;
}

.z3 {
	background-color: #fce38a;
	margin-left: 20px;
	width: 378px;
	height: 246px;
	float: left;
}

.z4 {
	background-color: #d6bc6b;
	margin-left: 398px;
	margin-top: 0px;
	width: 378px;
	height: 246px;
}

#zoning5 footer {
	margin-top: 20px;
	background-color: #f8d771;
}

footer {
	background-color: #2980b9;
	text-align: right;
	line-height: 32px;
}

footer p {
	margin-right: 10px;
}

p {
	padding: 15px;
}

.flex {
	display: flex;
	justify-content: space-around;
	width: 100%;
	text-align: center;
	color: white;
	font-size: 25px;
	font-weight: 800;
}

.flex div {
	background-color: #00008b;
	width: 100px;
	height: 100px;
	border: solid 5px #3333ff;
	margin-bottom: 10px;
}

#zoning6 {
	margin-left: 42px;
	color: white;
	text-align: center;
}

#zoning6 header {
	width: 758px;
	background-color: #dcdfe3;
}

#zoning6 nav {
	width: 716px;
	margin-top: -10px;
	background-color: #0a4c61;
	line-height: 30px;
}

#zoning6 aside {
	background-color: #446878;
	width: 130px;
	height: 600px;
	float: left;
}

.a {
	float: left;
	background-color: #c0c5cd;
	width: 290px;
	height: 224px;
}

.b {
	float: left;
	background-color: #203562;
	width: 296px;
	height: 224px;
}

.c {
	margin-top: -152px;
	float: left;
	background-color: #c0c5cd;
	width: 150px;
	height: 152px;
}

.e {
	margin-top: -152px;
	margin-left: 287px;
	width: 150px;
	height: 152px;
	float: left;
	background-color: #c0c5cd;
}

.d {
	margin-top: -152px;
	margin-left: 143px;
	width: 150px;
	height: 152px;
	float: left;
	background-color: #203562;
}

.f {
	margin-top: -152px;
	margin-left: 436px;
	width: 150px;
	height: 152px;
	float: left;
	background-color: #203562;
}

.slideshow {
	background-color: #314a52;
	float: left;
	width: 586px;
	height: 224px;
	margin-top: -376px;
	margin-left: 130px;
}

.slideshow2 {
	margin-left: 130px;
}

#zoning6 footer {
	width: 716px;
	background-color: #0b5269;
}

.haut1 {
	background-color: #203562;
	float: left;
	width: 178px;
	height: 158px;
}

.ancre {
	text-align: center;
}
.ancre a {
	margin: 8px;
	padding: 5px 10px;
	border-radius: 15px;
	background: #2c3e50;
	color: white;
	text-decoration: none;
	font-size: 20px;
	box-shadow: 0px 0px 10px 3px black;
	font-family: oswald;
}
.ancre a:hover {
	box-shadow: none;
	transition-duration: 0.5s;
	text-shadow: 1px 5px 10px grey;
}

#lien a {
	text-decoration: none;
	color: #2980b9;
	display: inline-block;
	margin-bottom: 15px;
}
#lien a:hover {
	color: #f16529;
}

/****************MENU*********************/
#menu nav {
	background: transparent;
	border: none;
}
#menu ul {
	list-style: none;
	text-align: center;
}
#menu ul li {
	display: inline-block;
}
#menu nav a {
	padding: 10px;
	color: grey;
	text-decoration: none;
	background: #ddd;
	transition: 1s ease-in;
}
#menu nav a:hover {
	color: #fff;
	background: #069;
}

/*****Menu Déroulant*****/
#menuDeroulant {
	height: 650px;
}
#menuDeroulant nav {
	background: transparent;
	border: none;
	width: 90%;
	margin: 0 auto;
}
#menuDeroulant nav ul li {
	float: left;
	list-style: none;
	width: 20%;
}
#menuDeroulant ul ul {
	display: none;
}
#menuDeroulant nav ul li ul li {
	border-top: 1px solid #464646;
	width: 100%;
}
#menuDeroulant nav li {
	-webkit-border-top-left-radius: 25px;
	-webkit-border-bottom-right-radius: 25px;
	-moz-border-radius-topleft: 25px;
	-moz-border-radius-bottomright: 25px;
	border-top-left-radius: 25px;
	border-bottom-right-radius: 25px;
	background: #6acafc;
	font-weight: 800;
	border: solid 2px white;
}
#menuDeroulant nav li a {
	text-decoration: none;
	color: #000;
	padding: 4px 0;
	display: block;
}
#menuDeroulant ul {
	text-align: center;
}
#menuDeroulant nav ul.niveau1 li.sousMenu:hover ul.niveau2 {
	display: block;
}
/****************FIN LIEN & MENU******************/

.haut2 {
	background-color: #3e588f;
	float: left;
	width: 360px;
	height: 158px;
}

form {
	margin: 0 auto;
}

.formulaire input {
	margin-bottom: 5%;
}

.formulaire {
	margin-left: 15%;
	display: flex;
	justify-content: center;
	background-color: #2c3e50;
	border-radius: 25px;
	width: 70%;
	padding-top: 4%;
	padding-bottom: 4%;
}

.formulaire label,
p,
#cv {
	color: white;
}

.formulaire label {
	margin-left: -%;
}

.haut3 {
	background-color: #203562;
	width: 178px;
	height: 158px;
	float: left;
}

.h12:hover {
	margin-left: 5px;
	transition: 1s;
}

ul.fruit {
	list-style: none;
}
ul.fruit li {
	display: inline;
	margin: 15px;
}
li i {
	font-size: 90%;
	color: blue;
}
li i:hover {
	font-size: 150%;
	color: darkred;
	transition: 0.5s;
}
.imbriquee,
.imbriquee ul {
	padding-left: 15px;
}
.imbriquee {
	cursor: pointer;
}
.imbriquee ul {
	display: none;
}
.europe:hover ul,
.asie:hover ul {
	display: block;
}
.imbriquee li ul li:hover {
	font-size: 200%;
	background: #e74c3c;
	display: inline;
	box-shadow: 5px 10px 10px grey;
	transition-duration: 1s;
}

li {
	margin-left: 30px;
}

dd,
dt {
	margin-left: 30px;
}